ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}

.title,
.subtitle {
  text-align: center;
}

.search-mode,
.search-form {
  display: flex;
  justify-content: center;
}

.search-mode li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}
